# version: '3.8'

# services:

#   backend:
#     build: .
#     container_name: coursepass_api
#     command: gunicorn --worker-class eventlet -w 1 --bind 0.0.0.0:5001 run:app
#     ports:
#       - "5001:5001"
#     env_file:
#       - .env
#     environment:

#       - REDIS_URL=redis://redis_broker:6379/0
#     depends_on:
#       - redis_broker
#     logging:
#       driver: "json-file"
#       options:
#         max-size: "10m"
#         max-file: "3"

#   worker:
#     build: .
#     container_name: coursepass_worker
  
#     command: celery -A api.v1.celery.celery worker --loglevel=info -P eventlet -c 100
#     env_file:
#       - .env
#     environment:
#       - REDIS_URL=redis://redis_broker:6379/0
#     depends_on:
#       - redis_broker
#     logging:
#       driver: "json-file"
#       options:
#         max-size: "10m"
#         max-file: "3"

#   redis_broker:
#     image: redis:alpine
#     container_name: coursepass_redis
#     ports:
#       - "6379:6379"
#     logging:
#       driver: "json-file"
#       options:
#         max-size: "10m"
#         max-file: "3"



version: '3.8'

services:

  backend:
    build: .
    container_name: coursepass_api
    # CHANGED: Added logging flags to gunicorn command
    # --access-logfile - : Sends access logs to stdout (screen)
    # --error-logfile -  : Sends error logs to stderr (screen)
    # --capture-output   : Captures python print() statements
    command: gunicorn --worker-class eventlet -w 1 --bind 0.0.0.0:5001 --access-logfile - --error-logfile - --capture-output --log-level info run:app
    ports:
      - "5001:5001"
    env_file:
      - .env
    environment:
      # CHANGED: This forces Python to print immediately instead of waiting for a buffer to fill
      - PYTHONUNBUFFERED=1
      - REDIS_URL=redis://redis_broker:6379/0
    depends_on:
      - redis_broker
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  worker:
    build: .
    container_name: coursepass_worker
    command: celery -A api.v1.celery.celery worker --loglevel=info -P eventlet -c 100
    env_file:
      - .env
    environment:
      # CHANGED: Added here too so Celery print statements show up immediately
      - PYTHONUNBUFFERED=1
      - REDIS_URL=redis://redis_broker:6379/0
    depends_on:
      - redis_broker
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis_broker:
    image: redis:alpine
    container_name: coursepass_redis
    ports:
      - "6379:6379"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"